<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h2>Employee List</h2>

<p th:text="${msg}"></p>

<table border="1">
    <tr>
        <th>ID</th>
		<th>Name</th>
		<th>Salary</th>
		<th>DOJ</th>
		<th>Dept</th>
		<th>Action</th>
    </tr>

    <tr th:each="e : ${emps}">
        <td th:text="${e.empId}"></td>
        <td th:text="${e.empName}"></td>
        <td th:text="${e.empSal}"></td>
        <td th:text="${e.empDoj}"></td>
        <td th:text="${e.deptName}"></td>

        <td>
            <a th:href="@{/edit/{id}(id=${e.empId})}">Edit</a>
            <a th:href="@{/delete/{id}(id=${e.empId})}">Delete</a>
        </td>
    </tr>

</table>

</body>
</html>